<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="container">
      <div id="sidebar">
        <div id="menu">
          <a href="../../../index.html">
            <i class="fas fa-home"></i>
            Home
          </a>
          <a href="../../categoria/view/categoria.html">
            <i class="fa-solid fa-tag"></i>
            Categoria
          </a>
          <a href="../../subcategoria/view/subcategoria.html">
            <i class="fa-solid fa-tags"></i>
            Subcategoria
          </a>
          <a href="../../variacao-descricao/view/variacao.html">
            <i class="fa-solid fa-layer-group"></i>
            Variações
          </a>
          <a href="#">
            <i class="fa-solid fa-map-location-dot"></i>
            Endereço
          </a>
          <a href="../../loja/view/loja.html">
            <i class="fa-solid fa-shop"></i>
            Lojas
          </a>
          <a href="../../pedidos/view/pedidos.html">
            <i class="fa-solid fa-truck-fast"></i>
            Pedidos
          </a>
          <a href="../../itempedido/view/itempedido.html">
            <i class="fa-solid fa-cubes"></i>
            Items Pedidos
          </a>
          <a href="../../Produto/view/produto.html">
            <i class="fa-solid fa-bag-shopping"></i>
            Produtos
          </a>
          <a href="../../subproduto/view/subproduto.html">
            <i class="fa-solid fa-cube"></i>
            Subprodutos
          </a>
          <a href="../../pagamento/view/pagamento.html">
            <i class="fa-solid fa-dollar-sign"></i>
            Pagamento
          </a>
          <button id="btn-logout">
            <i class="fas fa-sign-out-alt"></i>
            Sair
          </button>
        </div>
        <div id="menu-icons">
          <img
            src="https://img.icons8.com/material-outlined/48/ffffff/menu--v1.png"
            alt="Menu Icon"
            onclick="toggleSidebar()"
          />
        </div>
      </div>
      <div id="content">
        <h1>Enderecos</h1>
        <p>Adicione e controle as Enderecos</p>

        <div class="table-header">
          <!-- Adicione os botões Create e a barra de pesquisa -->
          <button type="button" id="add-endereco-btn">Adicionar</button>

          <div class="table-search">
            <input type="text" id="search" placeholder="Pesquisar..." />
            <button onclick="" id="buscar">Buscar</button>
          </div>
        </div>

        <table class="table-container">
          <thead>
            <tr>
              <th>ID</th>
              <th>Pais</th>
              <th>Estado</th>
              <th>Cidade</th>
              <th>Bairro</th>
              <th>Rua</th>
              <th>Numero</th>
              <th>Logradouro</th>
              <th>idUsuario</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="endereco-list"></tbody>
        </table>

        <!-- Modal para adicionar endereco -->
        <div id="addEnderecoModal" class="modal">
          <div class="modal-content">
            <span class="close" id="close-modal">&times;</span>
            <h2>Adicionar Endereco</h2>
            <!-- Formulário para adicionar endereco -->
            <form id="create-form">
              <!-- Adicione os campos do formulário conforme necessário -->
              <div class="form-group">
                <label for="enderecoPais">Pais da Endereco:</label>
                <input type="text" id="pais" name="pais" required />

                <label for="enderecoEstado">Estado da Endereco:</label>
                <input type="text" id="estado" name="estado" required />

                <label for="enderecoCidade">Cidade da Endereco:</label>
                <input type="text" id="cidade" name="cidade" required />

                <label for="enderecoBairro">Bairro da Endereco:</label>
                <input type="text" id="bairro" name="bairro" required />

                <label for="enderecoRua">Rua da Endereco:</label>
                <input type="text" id="rua" name="rua" required />

                <label for="enderecoNumero">Numero da Endereco:</label>
                <input type="text" id="numero" name="numero" required />

                <label for="enderecoLogradouro">Logradouro da Endereco:</label>
                <input type="text" id="logradouro" name="logradouro" required />

                <label for="enderecoIdUsuario">IdUsuario da Endereco:</label>
                <input type="text" id="idUsuario" name="idUsuario" required />
              </div>

              <button
                type="button"
                class="btn btn-primary"
                id="save-endereco-btn"
              >
                Salvar
              </button>
            </form>
          </div>
        </div>

        <div id="editEnderecoModal" class="modal">
          <div class="modal-content">
            <span class="close" id="close-modal-edit">&times;</span>
            <h2>Editar Endereco</h2>
            <!-- Formulário para adicionar endereco -->
            <form id="edit-form">
              <!-- Adicione os campos do formulário conforme necessário -->
              <div class="form-group">
                <input class="id-endereco" type="hidden" />
                <label for="enderecoPais">Pais da Endereco:</label>
                <input type="text" id="pais" name="pais" required />

                <label for="enderecoEstado">Estado da Endereco:</label>
                <input type="text" id="estado" name="estado" required />

                <label for="enderecoCidade">Cidade da Endereco:</label>
                <input type="text" id="cidade" name="cidade" required />

                <label for="enderecoBairro">Bairro da Endereco:</label>
                <input type="text" id="bairro" name="bairro" required />

                <label for="enderecoRua">Rua da Endereco:</label>
                <input type="text" id="rua" name="rua" required />

                <label for="enderecoNumero">Numero da Endereco:</label>
                <input type="text" id="numero" name="numero" required />

                <label for="enderecoLogradouro">Logradouro da Endereco:</label>
                <input type="text" id="logradouro" name="logradouro" required />

                <label for="enderecoIdUsuario">IdUsuario da Endereco:</label>
                <input type="text" id="idUsuario" name="idUsuario" required />
              </div>

              <button type="button" class="btn btn-primary edit-endereco-btn">
                Salvar
              </button>
            </form>
          </div>
        </div>

        <div id="viewEnderecoModal" class="modal">
          <div class="modal-content">
            <span class="close" id="close-modal-view">&times;</span>
            <h2>Visualizar Endereco</h2>
            <!-- Formulário para adicionar endereco -->
            <form id="view-form">
              <!-- Adicione os campos do formulário conforme necessário -->
              <div class="form-group">
                <label for="enderecoPais">Pais da Endereco:</label>
                <input type="text" id="pais" name="pais" required />

                <label for="enderecoEstado">Estado da Endereco:</label>
                <input type="text" id="estado" name="estado" required />

                <label for="enderecoCidade">Cidade da Endereco:</label>
                <input type="text" id="cidade" name="cidade" required />

                <label for="enderecoBairro">Bairro da Endereco:</label>
                <input type="text" id="bairro" name="bairro" required />

                <label for="enderecoRua">Rua da Endereco:</label>
                <input type="text" id="rua" name="rua" required />

                <label for="enderecoNumero">Numero da Endereco:</label>
                <input type="text" id="numero" name="numero" required />

                <label for="enderecoLogradouro">Logradouro da Endereco:</label>
                <input type="text" id="logradouro" name="logradouro" required />

                <label for="enderecoIdUsuario">IdUsuario da Endereco:</label>
                <input type="text" id="idUsuario" name="idUsuario" required />
              </div>
            </form>
          </div>
        </div>

        <div id="deleteEnderecoModal" class="modal">
          <div class="modal-content">
            <span class="close close-modal-delete">&times;</span>
            <h2>Excluir Endereco</h2>
            <input class="id-endereco" type="hidden" />
            <!-- Formulário para adicionar endereco -->
            <button type="button" class="btn btn-primary close-modal-delete">
              Cancelar
            </button>
            <button type="button" class="btn btn-delete delete-endereco-btn">
              Excluir
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="../../../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../controller/list.js"></script>
    <script src="../controller/create.js"></script>
    <script src="../controller/update.js"></script>
    <script src="../controller/view.js"></script>
    <script src="../controller/delete.js"></script>
    <script src="../../../script.js"></script>
    <script src="../../usuario/controller/validateUser.js"></script>
  </body>
</html>
